{% extends 'base/base.html' %}

{% block content %}

<ul>
  <li><a href="{% url '2d' %}">Trabajo 2D</a></li>
  <li><a href="{% url '3d' %}">Trabajo 3D</a></li>
  <li><a href="{% url 'videos' %}">Videos</a>
  <li><a href="">Realidad Virtual</a></li>
  <li><a href="{% url 'colablist' %}">Colaboradores</a></li>
  <li><a href="{% url 'arquitecto_nuevo' %}">Añadir colaborador</a></li>  
</ul>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Apellido</td>
			<td>Email</td>
			<td>Teléfono</td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for arquitecto in object_list %}
		<tr>
			<td>{{ arquitecto.first_name}}</td>
      <td>{{ arquitecto.last_name}}</td>
			<td>{{ arquitecto.email}}</td>
			<td>{{ arquitecto.telefono}}</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay proyectos asociados</h1>
		{% endif %}
	</tbody>
{% endblock %}
